.Main_Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 0px;
    gap: 24px;
  }
  
  .Container_Home {
    width: 100%;
    padding: 0 16px;
  }
  
  .Search {
    width: 100%;
    margin-bottom: 16px; /* Espacio entre el buscador y la sección de personajes */
  }
  
  .Section_Home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  @media (min-width: 735px) and (max-width: 900px) {
    .Main_Home {
      padding: 24px 0px;
    }
    .Section_Home {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 901px) {
    .Main_Home {
      padding: 48px 0px;
    }
    .Section_Home {
      padding: 0px 48px 0px 48px;
      grid-template-columns: repeat(7, 1fr);
    }
  }
  